
{% block header %}
    <div class="container-fluid no-padding">
      <div class="row no-padding">
        <div class="col-12 no-padding">
          <img src="{{ asset('voyage-spitzberg-kayak-icebergs.JPG') }}" alt="" width="100%" class="img-header" />
        </div>
        <div class="col-12 no-padding box-title-parent">
        	<div class="box-title-child">
        		<h1>QUESTIONNAIRE DE SATISFACTION</h1>
        	</div>
        </div>
      </div>
    </div>
{% endblock %}