$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*
	PROTO RATING STAR
*/


fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2.8em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating > label.starFull:before { 
  content: "\f005";
}


.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, /* affiche letoile d or quand clicker */
.rating:not(:checked) > label:hover, /* hover la current etoile */
.rating:not(:checked) > label:hover ~ label { color: #f6c82c;  } /* hover letoile precedente*/

.rating > input:checked + label:hover, /* hover la current etoile quand le rating change */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* light la selection courrante */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

#messageSF > span:not(.first-sf){
      font-size: 1.15em;
    font-weight: 700;
    color: white;
    float: left;
    display: none; 
    width: 234px;
    text-align: center;
    height: 28px;
    background-color: #f6c82c;
    margin-top: 18px;
    margin-left: 22px;
}

.first-sf{
  background-color: #0fa1b8 !important;
  font-size: 1.0em;
  padding-top: 1.4px;
  font-weight: 700;
  color: white;
  float: left;
  width: 234px;
  text-align: center;
  height: 28px;
  margin-top: 18px;
  margin-left: 22px;
}


.active{
  display:block !important;
}




/**********************
*
*
  CUSTOM CSS main file
*
*
**********************/


 #btn-suivant, #btn-valider{
	margin: auto;	
}

.box-form-inactive{
	display:none;
}

.box-form-active{
	display:block;
}

.box-nav{
	/*margin-top: 15px;*/
}

.btn-valider{

}

.btn-active{
	display:block;
}

.btn-inactive{
	display:none;
}

.box-rating > .rating > label{
	font-size: 11.2px;
}
.box-rating{
	width: 517px;
  min-width: 460px;
}

.question-text{
    width: 100%;
    height: 85px;	
}

.span-qcm{
  width: 50%;
}

#messageSF span{
  text-transform: uppercase;
}

.box-rating{
  display: flex;
}

.no-padding{
  margin: 0 !important;
  padding: 0 !important
}




/**********************
*
*
  CUSTOM CSS 66 ° Nord
*
*
**********************/

.box-title-parent{
  background-color: #01a2b4;
  color: white;
}

.box-title-child{
  text-align: center;
  padding: 5px 0 5px 0;
}

.box-intro{
  padding-top: 10px;
}

.box-intro p{
  text-align: center;
}

